html{
  margin: 0;
}

body {
 margin: 0;
 background-color: whitesmoke;
 
}

*{
	margin: 0;
	padding: 3px;
	box-sizing: border-box;
	font-family: poppins,sans-serif;
}
.teal{
  color:#1edaeb;
}

.sidebar {
  width: 200px;
  height: 200vh;
  background-color: black;
  position: fixed;
}

.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: #e74514;
  color: #1edaeb;
}

.sidebar a:hover {
  background-color: #555;
  color: white;
}
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color:  #fff;
  height: 500px;
  color: black;
  border-radius: 10px;
}
.text{
  display: none;
}

.active {
  background-color: #04AA6D;
  color: black;
}

#about .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
}

#about .picha {
  margin-left: 240px;
}
#about .pichaimg {
  max-width: 350px; 
  max-height: 250px; 
}

.pichatxt {
  position: absolute;
  width: 45%;
  top: 500px;
  right: 20px;
  
}
.dot{
  display: none;
}
.content{
  padding: 0%;
  }

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: teal;
	color: black;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: #fff;
  }

.logo{
	width: 120px;
	cursor: pointer;
}

.text-box{
padding: 0%;
}
.text-box h1{
font-size: 3em;
}
.text-box a{

	display: inline-block;
	padding:10px 30px;
  color: green;
}
footer
{
    background-color: #000000;
    color:#ffffff;
    bottom: 0;
    margin-left: 220px;
}
footer .share{
  padding-left: 30px;
}
.text-box .tn{
	background: teal;
	color: white;
	margin-left: 30px;
	font-weight: 2.5em;
  text-align: center;
  text-decoration: none;
}

.auto-input{
color:teal;
}
.home{
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
}
.img{
	position: absolute;
	bottom: 0;
}
.homeimg{
  height:50vh;
  align-self: center;
}
.skills {
  font-family: Arial, sans-serif;
  min-width: 700px;
  margin: 0 auto;
  margin-left: 240px;
  padding: 20px;
}

.skills h2 {
  margin-bottom: 20px;
  color: #333;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  margin-bottom: 10px;
  width: 50%;
  
}

.skills li span {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.skills progress {
  width: 200px;
  height: 10px;
}
progress:after {
  content: attr(value)'%';
  margin-left: 210px;
}

.otoyo{
  display: grid;
}
.flex-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.tot{
  color: #555;
  text-align: justify;
  padding: 10px;
}
#projects{
  min-width: 700px;
  margin-left: 220px;
  margin-top: 50px;
}
.ty{
 object-fit: cover;
 max-height: 100px;

}
.ty:hover{
	transform: scale(1.2);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.numbertext{
  display: none;
}
h4 {
  text-align: center;
  font-size: 3em;
  color: teal;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea.form-control {
  resize: vertical;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: teal;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #008080;
}
@media (min-width:796px) {

  .flex-container{
    display: flex;
    flex-direction: row;
    color: #fff;
  }

  .skills{
    flex-direction: row;
    gap: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    
  }
  .hometxtimg{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .hometxt{
    padding-top: 70px;
    padding-left: 35px;
  }
  .picha{
    flex-direction: row;
  }
  footer{
    padding-left: 400px;
  }
  .share{
    padding-left: 270px;
  }
.pichaimg{  
  width: 550px;
  height: 370px;
}
}
